body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 15px;

}

.logo {
    margin-bottom: 5px;
  }
  
  .logo img {
    height: 20px;
    margin: 0 auto;
  }

/* Estilos para la página 2 y siguientes */
.navbar {
    width: 100%;
    background-color: #007BFF; /* Color azul */
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.navbar a, .navbar .logout-btn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .navbar .logout-btn:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logout-btn {
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.navbar .logout-btn:hover {
    background-color: #c82333;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* Ajuste de margen superior para evitar la superposición del logo y navbar */
    overflow-x: auto;
    width: 100%;
}

.grid-wrapper {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 10px;
    justify-content: center;
    flex-shrink: 0; /* Ensure the grid doesn't shrink */
}

.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-top: 20px;
}

.slogan {
    font-style: italic;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
