p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited*/
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 15px;
  background-color: rgb(248, 248, 248)
}

.botonAgregarBuscar {
  display: flex;

}




.botonAgregarBuscar .botonAgregar {
  padding-left: 40px;
  flex: 1;
}

.botonAgregarBuscar .inputBuscar {
  padding-left: 10px;
  padding-top: 10px;
  flex: 1;
}

.botonAgregarBuscar .checkboxesFiltros {
  padding-left: 300px;
  padding-top: 20px;
  flex: 1;
  font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}


.botonAgregarBuscar .barra-busqueda {
  width: 300px;
  height: 30px;
  font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  border-radius: 5px;
}


.botonAgregarBuscar .boton-agregar {
  margin: 10px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(39, 133, 29);
  color: white;
  font-size: x-large;
  cursor: pointer;
}
.botonAgregarBuscar .boton-agregar:hover {
  opacity: 0.8;
}

.botonAgregarBuscar .boton-agregar:active {
  opacity: 0.5;
}

.botonAgregarBuscar .boton-buscar {
  margin: 10px;
  width: 100px;
  height: 35px;
  border: none;
  background-color: rgb(114, 114, 114);
  color: white;
  font-size: large;
  cursor: pointer;
}

.link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(196, 80, 0);
}


.button-primary {
  color: rgb(33, 33, 33);
  background-color: rgb(9, 199, 233);
  border: 1px solid rgb(9, 199, 210);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.button-primary:hover {
  opacity: 0.7;
}

.button-primary:active {
  opacity: 0.5;
  box-shadow: none;
}