
.main {
  margin-top: 60px;
}

.prenda-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#prenda-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1800px) {
  .prenda-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .prenda-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .prenda-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 600px) {
  .prenda-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}



.prenda-container {
  font-family: Roboto, Arial;
  padding-bottom: 25px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

  border-right: 3px solid rgb(231, 231, 231);
  border-bottom: 3px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}

.prenda-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;
  position: relative;
}

.prenda-image {
  width: 100%;
}

.prenda-name {
  height: 40px;
  margin-bottom: 5px;
}

.prenda-spacer {
  flex: 1;
}

.prenda-temporada {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 12px;
}

.add-button {
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(6, 95, 212);
  padding-top: 9px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 9px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s , color 0.15s;
  margin-bottom: 8px;
}

.add-button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
  
}

.add-button:active {
  opacity: 0.7;
}

.abrir-button {
  margin-left: 50px;
  background-color: rgb(3, 105, 240);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 9px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s , color 0.15s;
  font-family: ROBOTO, ARIAL;
  font-weight: 400;
}

.abrir-button:hover {
  opacity: 0.7;
  
}

.abrir-button:active {
  opacity: 0.5;
}

.titulo-prenda {
  margin-bottom: 25px;
  padding-top: 0px;
  padding-left: 50px;
  font-size: 48px;
  font-family: ROBOTO,ARIAL;
  font-weight: bolder;
  color: black;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 15px 40px;
}

.modal-content label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #262626;
}

.modal-content input, select {
  margin-bottom: 10px;
  width: 100%;
}

.modal-content input[type="text"],
.modal-content input[type="file"], select{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 30px;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="file"]:focus, select:focus{
  border-bottom: 2px solid #262626;
}



.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit-button {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button:hover {
 opacity: 0.7;
}

.submit-button:active{
  opacity: 0.3;
 }

 .title {
  text-align: center;
  padding: 50px 0 20px;
 }

 .title h1{
  margin: 0;
  padding: 0;
  color: #262626;
  text-transform: uppercase;
  font-size: 24px;
 }

  .link-primary-edit {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-left: 5px;
}

  .link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

  .link-primary:hover, 
  .link-primary-edit:hover {
  color: rgb(196, 80, 0);
}

.btn{
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  color: grey;
  margin-left: 143px;
}
.btn i:hover{
  cursor: pointer;
}


 
 


